form {
    margin: 20px 0 0 20px;
}

.barre {
    width: 30%;
}

.bg-bleu {
    background-color: #008c8c;
    background-image: url("https://www.transparenttextures.com/patterns/black-thread-light.png");
}

body {
    background-color: #fafffe;
    background-image: url("https://www.transparenttextures.com/patterns/black-thread-light.png");
    background-attachment: fixed !important;
}

.img_pres{
    width: 350px;
}

.centre{
    text-align: center;

}

.img_article{
    width: 200px;
}

/* .ml-5 {
    margin-left: 30% !important;
  } */

  h5{
      text-align: center;
  }

  .bg-gris{
      background-color: #343a40 !important;
      color: rgba(255, 255, 255, 0.575) !important;
  }

  .bg-clair{
      background-color: #f7f7f9 !important;
  }